@media screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }

  .page-title {
    font-size: 32px;
  }

  .section-title {
    font-size: 22px;
  }

  .normal-title {
    font-size: 18px;
  }

  .primary-description {
    font-size: 16px;
  }

  .main.container {
    .title {
      font-weight: 700;
      margin-bottom: 24px;
    }

    .avatar {
      width: 150px;
      margin: 32px 0px;
    }
  }

  .introduction {
    padding-top: 80px;

    .container {
      .name {
        margin-bottom: 24px;
      }

      .description {
        width: 100%;
      }
    }
  }

  .experience.container {
    margin-top: -224px;
    padding: 50px 30px;

    .organisation-container {
      .logo {
        display: none;
      }
    }

    .tools-container {
      width: 100%;
      justify-content: space-evenly;

      .tool {
        min-width: 0px;
        padding: 20px;

        .tools-icon {
          width: 40px;
        }
      }
    }
  }

  .projects.container {
    width: 100%;
    padding-top: 80px;

    .title {
      margin-bottom: 20px;
    }

    .description {
      margin-bottom: 50px;
    }

    .projects-list {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 80px;

      .project {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .hire-me.container {
    margin: 0px auto -135px auto;
    flex-direction: column;
    padding: 40px 25px;

    .lets-connect {
      margin-bottom: 20px;
    }

    .contact {
      margin-bottom: 20px;
    }

    .mail-button {
      .mail-icon {
        width: 17px;
      }
    }
  }

  .footer {
    padding: 170px 50px 70px 50px;
  }
}
